[submodule "themes/hugo-papermod"]
	path = themes/hugo-papermod
	url = git@github.com:adityatelange/hugo-papermod.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = git@github.com:dillonzq/LoveIt.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = git@github.com:adityatelange/hugo-PaperMod.git
